<!--The content below is only a placeholder and can be replaced.-->
<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile [colspan] = "4">
  <h1>{{title}}</h1>
  </mat-grid-tile>
  <mat-grid-tile [colspan] = "4">
      <nav mat-tab-nav-bar>
          <a mat-tab-link
           *ngFor="let link of navLinks"
             [routerLink]="link.url"
             routerLinkActive #rla="routerLinkActive"
             [active]="rla.isActive">
             {{link.title}}
          </a>
        </nav>
 </mat-grid-tile>
 <mat-grid-tile [colspan] = "4" [rowspan]="6">
<router-outlet></router-outlet>
</mat-grid-tile>
</mat-grid-list>
